@font-face {
  font-family: 'GTEestiProDisplay';
  src: url('GTEestiProDisplay-Light.eot');
  src: local('GTEestiProDisplay-Light'),
    url('../fonts/GTEestiProDisplay-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GTEestiProDisplay-Light.woff2') format('woff2'),
    url('../fonts/GTEestiProDisplay-Light.woff') format('woff'),
    url('../fonts/GTEestiProDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GTEestiProDisplay';
  src: url('GTEestiProDisplay-Regular.eot');
  src: local('GTEestiProDisplay-Regular'),
    url('../fonts/GTEestiProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GTEestiProDisplay-Regular.woff2') format('woff2'),
    url('../fonts/GTEestiProDisplay-Regular.woff') format('woff'),
    url('../fonts/GTEestiProDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}