.book-slider {
    margin-top: 30px;
    overflow: hidden;
    & .container {
        position: relative;
    }
    &__title {
        text-align: center;   
        margin-bottom: 15px;
    }
    &__inner {
        width: 1430px;
        margin-left: -10px;
    }
    & .books__item {
        margin: 10px 20px 20px 10px;
    }
    & .slick-list {
        overflow: hidden;
    }
    & .slick-track {
        display: flex;
    }
    & .slick-arrow {
        position: absolute;
        top: 0;
        z-index: 1;
        border: none;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        padding: 0;
    }
    & .slick-arrow img {
        display: flex;
        align-items: center;
        width: 20px;
        height: 18px;
    }
    & .slick-prev {
        right: 60px;
    }
    & .slick-next {
        right: 25px;
    }
}